<!-- Sidebar Table of Content Holder -->
<nav id="sidebar">
   <div class="sidebar-header">
      <h3>Content</h3>
   </div>
   <ul class="list-unstyled components">
      <li>
         <a href="#Intro">BOOKstrap</a>
      </li>
      <li>
         <a href="#Why">Why BOOKstrap</a>
      </li>
      <li>
         <a href="#Start">Getting started</a>
      </li>
      <li>
         <a href="#Custom">Customizing</a>
      </li>
      <!-- EXAMPLE FOR SUBCHAPTERS WITH DROPDOWNS
      <li>
      <a href="#Intro" data-toggle="collapse" aria-expanded="false">Introduction</a>
            <ul class="collapse list-unstyled" id="chapter1Submenu">
               <li><a href="#">Subchapter 1</a></li>
               <li><a href="#">Subchapter 2</a></li>
               <li><a href="#">Subchapter 3</a></li>
            </ul>
       </li>
      -->
   </ul>
</nav>
